<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="User ID=sa;Password=78963.;Persist Security Info=True;Initial Catalog=NeoSteamData;Data Source=.;" />
    <!--<add name="connection" connectionString="User ID=service;Password=service@app;Persist Security Info=True;Initial Catalog=MATRIXDB;Data Source=103.20.248.111;" />-->
    <!--<add name="log_db_url" connectionString="mongodb://103.20.248.80:27017"/>-->
    <add name="log_db_url" connectionString="mongodb://127.0.0.1:27017"/>
  </connectionStrings>
  <appSettings>
    <add key="ThreadCount" value="2000"/>
  </appSettings>
</configuration>