@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-9">
        <a href="/campaign/battle">
            <div class="bs-callout bs-callout-info">
                <p>怪物等级：Lv.1-5<code>功勋：9875</code></p>
            </div>
        </a>
        <a href="#">
            <div class="bs-callout bs-callout-info">
                <p>怪物等级：Lv.6-10<code>功勋：9875</code></p>
            </div>
        </a>
    </div>
</div>
