@model NeoSteam.Models.PlayInfoModels

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        选择角色
        @Html.ActionLink("创建角色","CreatePlay","PlayInfo");
    </div>
</body>
</html>
